{% csrf_token %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <title>上传试卷</title>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <style>
            .fixed-dimension {
                width: 1200px;  /*指定宽度*/
                height: 800px; /*指定高度*/
                object-fit: cover; /*这个属性能保持图片的比例，同时让图片完全覆盖设定的宽度和高度，超出部分将被剪切*/
            }
            .container {
                display: flex;
            }
            .image {
                width: 75%;
            }
            .content {
                width: 25%;
                padding: 20px;
            }
        </style>



<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    window.onload = function() {

        let canvas = document.getElementById('preview');
        let ctx = canvas.getContext('2d');
        let content = document.getElementById('content');
        let isMouseDown = false;
        let rect = {x: 0, y: 0, width: 0, height: 0};

        canvas.width = 1200;  // Specify a fixed width
        let w=1
        canvas.addEventListener('mousedown', function(e) {
            rect.x = e.offsetX;
            rect.y = e.offsetY;
            isMouseDown = true;
        });

        canvas.addEventListener('mousemove', function(e) {
            if (!isMouseDown) return;
            rect.width = e.offsetX - rect.x;
            rect.height = e.offsetY - rect.y;
            // Redraw the rectangle
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
            ctx.strokeRect(rect.x, rect.y, rect.width, rect.height);
        });

        canvas.addEventListener('mouseup', function() {
            if (rect.width !== 0 && rect.height !== 0) {
                let x1=rect.x
                let y1=rect.y
                let x2=rect.x + rect.width
                let y2=rect.y + rect.height
                if (x1>x2){
                    x2=x1+x2
                    x1=x2-x1
                    x2=x2-x1
                }
                if (y1>y2){
                    y2=y1+y2
                    y1=y2-y1
                    y2=y2-y1
                }
                let ratio=w/canvas.width
                x1=Math.round(x1*ratio)
                x2=Math.round(x2*ratio)
                y1=Math.round(y1*ratio)
                y2=Math.round(y2*ratio)
                let csrftoken = getCookie('csrftoken'); 
                $.ajax({
                    type: 'POST',
                    url: 'rectangle/',  
                    headers: {
                        'X-CSRFToken': csrftoken, 
                    },
                    data: {
                        'x1':x1,
                        'y1':y1,
                        'x2':x2,
                        'y2':y2,
                        'name':'{{name}}',
                        
                    },
                    success: function(data) {
                        console.log(data.status);  // 这就是来自Django的context
                    }
                });

                let topLeftInfo = 'Top-left (X: ' + x1 + ', Y: ' + y1 + ')';
                let bottomRightInfo = 'Bottom-right (X: ' + x2 + ', Y: ' + y2 + ')';
                let timeStamp = 'Time: ' + formatDate(new Date());
                content.innerHTML +=timeStamp+'<br>' +  topLeftInfo + ' ' + bottomRightInfo + ' <br>' + '<br>';
            }
            isMouseDown = false;
            rect.width = 0;
            rect.height = 0;
        });

        let img = new Image();
        img.onload = function() {
            // Set canvas height based on image aspect ratio
            w=img.width
            canvas.height = img.height * (canvas.width / img.width);
            // Draw the image scaled to the size of the canvas
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        };

        // Update the image URL
        img.src = "{{ image_url }}";
    }

    function formatDate(date) {
        let year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        let hour = date.getHours().toString().padStart(2, '0');
        let minute = date.getMinutes().toString().padStart(2, '0');
        let second = date.getSeconds().toString().padStart(2, '0');
        return `${year}-${month}-${day}  ${hour}:${minute}:${second}`;
    }
</script>

</head>
<body>
 
    <h2>选择考试</h2>
    
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_image' %}">
        {% csrf_token %}
        <div>
             <select id="exam_id" name="exam_id">
             {% for exam in exams %}
                 <option value="{{ exam.id }}">{{ exam.edate}}-{{exam.name}}-{{exam.subject }}</option>
             {% endfor %}
            </select> 
        </div>
           
        <div>
          <input type="file" name="image">
          <input type="submit" value="上传图像"> 
        </div>
           
        
    </form>
    <h2>图像预览</h2>
    {% if image_url %}
        <div class="container">
            <div class="image">
                <!--<img src="{{ image_url }}" alt="Image" style="width: 100%;">-->
                <canvas id="preview"></canvas>
            </div>
    
            <div class="content" id="content">
                这里是您的内容...,<br>
            </div>
        </div>
    {% else %}
        <p>No image uploaded.</p>
    {% endif %}
    
</body>
</html>